@charset "utf-8";
*{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image: linear-gradient(to right, #9FC131, #DBF227);
}
p{
    text-align: center;
}
.principal{
    background-color: white;
    width: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 100px;
    box-shadow: 5px 5px 10px black;
}
h1{
    color: #042940;
    text-align: center;
    box-shadow: 2px 2px 5px #000000;
}
h2{
    color: #005C53;
}